<section id="contact-form" class="scroll-fix">
  <div class="container">
    <div class="contact-form py-5 px-3 px-lg-5">
      <p class="display-1 fw-bold text-uppercase mb-5">KONTAKT</p>

      <div class="container">
        <div class="row g-4">
          <div class="col-12 col-lg-4">

            <div class="address d-flex flex-column justify-content-center p-5 bg-dark text-center text-light border border-2 h-100">
              <br>
              <h3>ADRES</h3>
              <br>
              <p>ul. Krynicka 14</p>
              <p>Gdańsk</p>
              <p>10 - 144</p>
              <br><br>
              <p>tel: 624 472 365</p>
              <p>email: fryzjer@wp.pl</p>
              <br><br>
            </div>

          </div>

          <div class="col-12 col-lg-8">

            <div class="my-form p-5 bg-dark text-light border border-2 h-100">
              <br>
              <form>

                <div class="row mb-3">
                  <div class="col-12 col-md-6">
                    <label for="name" class="form-label">Imię</label>
                    <input id="name" type="text" class="form-control">
                  </div>
                  <div class="col-12 col-md-6">
                    <label for="lastname" class="form-label">Nazwisko</label>
                    <input id="lastname" type="text" class="form-control">
                  </div>

                </div>

                <div class="mb-3">
                  <label for="my-select" class="form-label">Wybierz temat</label>
                  <select id="my-select" class="form-select form-select" aria-label=".form-select-sm example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>


                <div class="mb-5">
                  <label for="message-area" class="form-label">Treść wiadomości:</label>
                  <textarea id="message-area" class="form-control" name="" rows="10"></textarea>
                </div>


                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary align-content-end">Wyślij</button>
                </div>
              </form>
            </div>


          </div>
        </div>

      </div>
    </div>


  </div>

</section>
