<div class="container fixed-top sticky-lg-top">
  <nav id="navbar-example" class="navbar py-0 navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
<!--      <i class="scissors fas fa-cut"></i>-->
      <i class="scissors bi bi-scissors fa-rotate-90"></i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link fw-bold active" aria-current="page" href="#about-us">O nas</a>
          <a class="nav-link" href="#services">Usługi</a>
          <a class="nav-link" href="#">Cennik</a>
          <a class="nav-link" href="#contact-form">Kontakt</a>
        </div>
<!--        <i class="phone ms-auto fas fa-phone-square-alt"></i>-->
        <i class="phone ms-auto icofont-ui-touch-phone"></i>
        <p class="navbar-brand"> 624-472-365</p>

      </div>

    </div>
  </nav>
</div>
<!--<div class="container">-->
<!--  <hr class="hr">-->
<!--</div>-->

<div id='dupa'></div>

