<div class="container">
  <header class="d-flex flex-column justify-content-center align-items-center" id="home">
    <div class="hero-shadow">
      <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-light text-center">
        <p class="display-1">Fryzjer Z Pasją</p>
        <p class="header-text text-light mt-3 mb-5">Lorem ipsum dolor sit amet.</p>
        <a href="#aboutus" class="btn btn-outline-light">poznaj nas</a>
      </div>
    </div>
  </header>
</div>
<app-navigation></app-navigation>

<app-about-us></app-about-us>

<app-pricing></app-pricing>

<app-contact-form></app-contact-form>

<div class="container">
  <footer class="bg-dark text-light">
    <p class="display-6 py-5 px-3 text-center mb-0">2021 &copy; Copyright <i class="ml-3 fas fa-cut text-primary"></i>
      Fryzjer Z Pasją</p>
  </footer>
</div>
